In [6]:
import json
import pandas as pd

In [3]:
# Import the file with results
with open("results-RoBERTa/RoBERTa-main-classification-results.json") as results_file:
    results = json.load(results_file)

In [7]:
# Inspect the results as a dataframe
results_df = pd.DataFrame(results)
results_df.head()

,trained_on,tested_on,microF1,macroF1,y_true,y_pred
0,SL-GINCO,SL-GINCO,0.802469,0.734463,"[Promotion, News, Promotion, News, Instruction...","[Promotion, News, Promotion, News, Promotion, ..."
1,SL-GINCO,CORE,0.631191,0.536556,"[News, News, News, News, Information/Explanati...","[News, Promotion, News, News, Opinion/Argument..."
2,MT-GINCO,MT-GINCO,0.814815,0.869582,"[Promotion, News, Promotion, News, Instruction...","[Promotion, News, Promotion, News, Instruction..."
3,MT-GINCO,CORE,0.634434,0.536819,"[News, News, News, News, Information/Explanati...","[News, News, News, News, Opinion/Argumentation..."
4,CORE,CORE,0.768573,0.719598,"[News, News, News, News, Information/Explanati...","[News, News, News, News, Information/Explanati..."

In [9]:
results_df.describe(include="all")

,trained_on,tested_on,microF1,macroF1,y_true,y_pred
count,7,7,7.000000,7.000000,7,7
unique,3,3,NaN,NaN,2,7
top,CORE,CORE,NaN,NaN,"[Promotion, News, Promotion, News, Instruction...","[Promotion, News, Promotion, News, Promotion, ..."
freq,3,3,NaN,NaN,4,1
mean,NaN,NaN,0.694480,0.668096,NaN,NaN
std,NaN,NaN,0.097038,0.119304,NaN,NaN
min,NaN,NaN,0.580247,0.536556,NaN,NaN
25%,NaN,NaN,0.630410,0.574127,NaN,NaN
50%,NaN,NaN,0.634434,0.668220,NaN,NaN
75%,NaN,NaN,0.785521,0.727030,NaN,NaN
max,NaN,NaN,0.814815,0.869582,NaN,NaN